/* Info of Company */

.prodCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.uploadDiv {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 99%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
}

.uploadIcon {
  position: absolute;
  top: 3px;
  left: 14px;
  cursor: pointer;
}

.modalContentLeft {
  display: flex;
  align-items: center;
  gap : 10px;
}
