/* Info of Company */

.prodCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.prodCardDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 130px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-top: 10px;
  position: relative;
}

.prodBigCardDiv {
  height: 165px;
}

.prodcardValueUnit {
  font-weight: 400;
  font-size: 27px;
  line-height: 140%;
  position: absolute;
  right: 10px;
  bottom: 0;
}
.prodBoldcardValueUnit {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
}
.prodcardValue {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  display: inline-block;
  margin-right: 10px;
  /* margin-top: 10px; */
}

.prodBigcardValue {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}

.uploadDiv {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 99%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
}

.uploadIcon {
  position: absolute;
  top: 14px;
  left: 14px;
}
